body{
    background-color: #96C5FD;
    margin: 0;
}

/* ----- TITRE ----- */

h1{
    /* font-family: 'Rampart One', cursive; */
    /* font-family: 'Days One', sans-serif; */
    font-family: 'VT323', monospace;
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: #371A46;
    padding: 20px 0 20px 0px;
    margin: 0;
}


#shifumi{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}


/* ---- PERSONNAGE IA ----- */

#ordi {
    display: flex;
    justify-content: center;
}

.img-ia{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
#ordi img{
    /* border: 1px solid red; */
    width: 250px;
    border-radius: 50%;
}

#choix{
    display: flex;
    align-items: center;
}
#choixIA{
    width: 250px;
}



/* ----- BOUTONS PIERRE PAPIER CISEAU ----- */

#rpc-container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shif{
    display: flex;
    flex-direction: column;
}

#rpc-container img {
    width: 125px;
}

button{
    padding: px;
    margin: 20px;
    border-radius: 50%;
    /* background-color: #96C5FD; */
    background-color: #371A46;
    border: 3px solid white;
    font-family: 'VT323', monospace;
    color: white;
    font-weight: bold;
}

button:hover{
    background-color: #ecd657;
}



/* ----- RESULATS ------ */

#result{
    background-color: #371A46;
    padding: 10px 0 10px 0px;

}

#result h2{
    font-size: 30px;
    color: white;
}

#result-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* font-family: 'Rampart One', cursive; */
    font-family: 'VT323', monospace;
}

#result-container h3{
    font-size: 25px;
    color: #fdf696;
    font-family: 'VT323', monospace;
}